<div class="container p-4">
    <div class="row">
        {{#each dict}}
        <div class="col-md-3" id="card-p">
            <div class="card text-center">
                <div class="card-body" id="cards" style="background: {{expire}};" data-target="#myModal"
                    data-toggle="modal" type="button">

                    <input id="id" hidden value="{{id}}">
                    <input id="create" hidden value="{{created_at}}">
                    <textarea id="desc" cols="30" rows="10" hidden>{{description}}</textarea>
                    <h3 class="card-title text-uppercase" id="name">
                        {{name}}
                    </h3>
                    <p>Date expire:</p>
                    <p id="dateExpire">{{dateExpire}}</p>
                    <p id="expire">Expire {{dateEx}}</p>
                </div>
                <div class="card-body" style="background: {{expire}};">
                    <a href="/medicine/delete/{{id}}" class="btn btn-danger" id="delete">Delete</a>
                    <a href="/medicine/edit/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not medicine saved yet.</p>
                <a href="/medicine/add">Create one!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



<div class="container">
    <br>
    <!-- Small modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Drug Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

<!--



<script src="https://code.jquery.com/jquery-1.9.1.min.js"
    integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
    -->


<script src="https://code.jquery.com/jquery-3.5.0.slim.js"
    integrity="sha256-sCexhaKpAfuqulKjtSY7V9H7QT0TCN90H+Y5NlmqOUE=" crossorigin="anonymous"></script>


<script>


    $(document).ready(function () {

        function ajax() {
            const http = new XMLHttpRequest();
            const url = '/medicine/products';

            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    try {
                        let resObj = JSON.parse(this.responseText);

                        let res = document.querySelector('#rows');
                        res.innerHTML += '';

                        for (let item of resObj) {
                            /* res.innerHTML += `
                             <div class="col-md-3" id="card-p">
                             <div class="card text-center">
                             <div class="card-body" id="cards" style="background: ${item.expire};" data-target="#myModal" data-toggle="modal" type="button">
                            
                             <h3 class="card-title text-uppercase" id="name"> ${item.name}</h3>
                             
                             </div>
                             <div class="card-body" style="background: ${item.expire};">
                                 <a href="/medicine/delete/{{id}}" class="btn btn-danger" id="delete">Delete</a>
                                 <a href="/medicine/edit/{{id}}" class="btn btn-secondary">Edit</a>
                              </div>
                             </div>
                             </div>            
                             `
                             */

                        }

                    } catch (e) {

                    }

                }
            }
            http.open("GET", url);
            http.send();
        }

        ajax();

        $(".card-body#cards").click(function (e) {
            e.preventDefault();

            var cod = $(this).children('input#id').val();
            var name = $(this).children('h3#name').text();
            var dateExpire = $(this).children('p#dateExpire').text();
            var expire = $(this).children('p#expire').text();
            var create = $(this).children('input#create').val();
            var desc = $(this).children('textarea#desc').text();
            $('.modal-body').html('<h6><b>Name: </b>' + name + '</h6>' +
                '<h6><b>Id: </b>' + cod + '</h6>' +
                '<h6><b>Date expire: </b>' + dateExpire + '</h6>' +
                '<h6><b>Expire time: </b>' + expire + '</h6>' +
                '<h6><b>Date of creatoon: </b>' + create + '</h6>' +
                '<h6><b>Description: </b></h6>' +
                '<p>' + desc + '</p>'
            );
        })
    });




</script>